.header{
    width: 100vw;
    height: 100px;
    background-color: rgb(19, 19, 19);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.logo{
    padding: 12px;
}
.logo h1{
    font-size: 65px
}
.menu{
    padding: 5px;
}
.menu a{
    color: #fff;
    margin-right: 30px;
    cursor: pointer;
    text-decoration: none;
}